.tehno {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 0 136px;
  @media (max-width: 992px) {
    padding: 0 40px;
  }
  &__block-1 {
    margin: 0 auto;
    background-color: var(--bg-color);
    width: 80%;
  }
  &__info {
    h1 {
      margin-top: 50px;
      font-size: 50px;
      font-weight: 300;
      text-align: center;
    }
    p {
      color: var(--extra-color);
      text-align: center;
      font-size: 27px;
      font-weight: 500;
      margin: 30px;
    }
    div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__block-2 {
    margin-top: 80px;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
    color: var(--extra-color);
    margin-bottom: 50px;
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__working-img img {
    width: 100%;
  }
  &__block-3 {
    margin-top: 50px;
    width: 100%;
  }
  &__properties {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__properties-item {
    width: 450px;
  }
  &__properties-item p {
    font-size: 17px;
  }
  &__properties-item .icon {
    width: 30px;
    height: 30px;
    background-color: var(--extra-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  &__properties-item .icon img {
    width: 15px;
    height: 15px;
  }
  .block-5__item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--rich-white);
    padding: 10px 0;

    h4 {
      font-weight: 500;
      font-size: 20px;
    }

    .item-title {
      width: 50%;
    }
    .item-inner {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
  hr {
    width: 80%;
    margin: 10px 0;
  }
  &__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    h3 {
      font-size: 19px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 992px) {
    p {
      font-size: 16px;
    }
    .block-5__item {
      h4 {
        font-size: 16px;
      }
    }
  }
}
