.navbar {
  background-color: #fff;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-right: auto;
  }
  &__logo {
    margin-top: 20px;
    width: 100px;
    height: 70px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 48px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #070d1be6;
      width: 100%;
      border-top: 1px solid var(--m-silver);
      display: none;
    }
  }

  a {
    text-transform: uppercase;
    // color: #444444;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      color: red;
    }
    @media screen and (max-width: 1000px) {
      font-weight: 400;
      text-transform: capitalize;
      color: var(--m-silver);
    }
  }

  &__menu {
    display: none;
    @media screen and (max-width: 1000px) {
      display: inline-block;
      font-size: 36px;
      color: var(--m-silver);
    }
  }
  .show {
    display: flex !important;
  }
}
