.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  &__card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1530px;
    height: 800px;
    position: relative;
  }
  &__card-color {
    width: 50%;
    &.color-one {
      background-color: var(--extra-color);
    }
    &.color-two {
      background-color: var(--rich-white);
    }
    &.color-three {
      background-color: #080f32;
    }
    &.color-four {
      background-color: #44330e;
    }
    &.color-five {
      background-color: var(--rich-white);
    }
  }
  &__card-img {
    width: 50%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 50px;
    text-align: center;
    transform: translate(-50%);
    color: var(--rich-white);
  }
  @media (max-width: 992px) {
    &__card-title {
      font-size: 30px;
      top: 50%;
    }
  }
  @media (max-width: 768px) {
    &__card-color {
      display: none;
    }
    &__card-img {
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__card-title {
      position: absolute;
      top: 30%;
      left: 50%;
      font-size: 20px;
      text-align: center;
      color: var(--rich-white);
    }
  }
}
